<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bo.edu.ucb.guidep1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideP1">
        <activity
            android:name=".SumasActivity"
            android:label="@string/btn_txt_sumas">
            <!-- android:exported="false" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- METADATA y LABEL AGREGADO MANUALMENTE A SERVICIOSACTIVITY: -->
        <activity
            android:name=".ServiciosActivity"
            android:label="@string/btn_txt_servicios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- METADATA y LABEL AGREGADO MANUALMENTE A PAR_IMPARACTIVITY: -->
        <activity
            android:name=".Par_ImparActivity"
            android:label="@string/btn_txt_parimpar">
            <!-- android:exported="false" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>